body {
    background: rgb(70, 136, 198);
}

.dark-blue {
    background: rgb(8, 52, 157);
}
  
.options a {
  padding: 8px 32px 8px 32px;
  margin: 8px;
  font-size: 20px;
  background-color: rgb(160,211,255); 
  border-radius: 30px;
  color: black;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.options a:hover {
    color: #f1f1f1;
}


.openbtn:hover {
  background-color: rgb(4, 53, 157);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  overflow: hidden;
}